
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000000;
}

#Label {
    /*pixilfy sans as font?*/
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3em;
    color: #00000099;
    text-align: center;
    margin-top: 1%;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis-weight: none;
}
/* Settings button */
#settings {
    position: absolute;
    background-color: transparent;
    background-image: url("../../data/sprites/settings.png");
    background-size: cover;
    /*make it pixelated*/
    image-rendering: pixelated;
    width: 5em;
    height: 5em;
    border: none;
    cursor: pointer;
    right: 5%;
    top: 5%;
}
#settings:hover {
    background-image: url("../../data/sprites/settings:hover.png");
}