
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Pixelify+Sans:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000000;
}
html, body {
    overscroll-behavior-y: contain;
}
#Label {
    /*pixilfy sans as font?*/
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3em;
    color: #00000099;
    text-align: center;
    margin-top: 1%;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis-weight: none;
}
/* Settings button */
#settings {
    position: absolute;
    background-color: transparent;
    background-image: url("../../data/sprites/settings.png");
    background-size: cover;
    /*make it pixelated*/
    image-rendering: pixelated;
    width: 5em;
    height: 5em;
    border: none;
    cursor: pointer;
    right: 5%;
    top: 5%;
}
#settings:hover {
    background-image: url("../../data/sprites/settings:hover.png");
}
#message {
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5em;
    /*grid*/
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: auto;
    gap: 1em;
    padding: 1em;
    z-index: 100;
}
.leftMessage, .centerMessage {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.leftMessage.visible, .centerMessage.visible {
    opacity: 1;
}
.leftMessage {
    text-align: left;
    grid-column: 1;
    border-right: 1px solid #ffffff33;
}
.centerMessage {
    text-align: left;
    grid-column: 2;
}
span.chargy {
    color: #00ffff;
}
span.goal {
    color: #00FF00;
}
span.dark {
    color: #333333FF;
}
span.powery {
    color: #FF00FF;
}
.cutscene {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: black;
    z-index: 100;
}
#mobileDpad {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: 70px 20px 70px 70px;
    grid-template-rows: 70px 70px;

    grid-template-areas:
        "up . . ."
        "down . left right";

    gap: 10px;
    display: none;
}
#mobileDpad legend {
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
}
.mobile-dpad {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(34, 34, 34);
    border: 2px solid #00FFFF;
    user-select: none;
}

#up    { 
    grid-area: up; 
    background-image: url("../../data/sprites/UI/gamepad/up.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
}
#left  { 
    grid-area: left; 
    background-image: url("../../data/sprites/UI/gamepad/left.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
}
#right { 
    grid-area: right; 
    background-image: url("../../data/sprites/UI/gamepad/right.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
}
#down  { 
    grid-area: down; 
    background-image: url("../../data/sprites/UI/gamepad/down.png");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
}
#up:active {
    background-image: url("../../data/sprites/UI/gamepad/up-active.png");
    border: 2px solid #003333
}
#left:active {
    background-image: url("../../data/sprites/UI/gamepad/left-active.png");
    border: 2px solid #003333
}
#right:active {
    background-image: url("../../data/sprites/UI/gamepad/right-active.png");
    border: 2px solid #003333
}
#down:active {
    background-image: url("../../data/sprites/UI/gamepad/down-active.png");
    border: 2px solid #003333
}
@media (max-width: 600px) {
    #Label {
        font-size: 0.8em;
    }
    #settings {
        width: 2em;
        height: 2em;
    }
    #message {
        font-size: 0.8em;
        gap: 0.5em;
        padding: 0.5em;
        top: 0.5rem;
        left: 0.5rem;
        position: fixed;
    }
    .mobile-dpad {
        display: block;
    }
    #loading-text {
        font-size: 0.5em;
    }
    #mobileDpad {
        display: grid;
    }
}